<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}

{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>goodtimes | laser crew</h1>
        </a>
        <h2>Interactive showlaser technology: lasershows, laser art, laser games, laser control software</h2>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>

    <footer>
      <div class="container">
        &copy; goodtimes | <a href="https://www.patreon.com/user?u=94591727">Patreon</a> | <a href="https://www.instagram.com/goodtimes_laser/">Instagram</a> | <a href="https://www.youtube.com/@goodtimes-laser">YouTube</a> | <a href="/partners.html">Partners</a> | <a href="imprint.html">Imprint</a>
      </div>
    </footer>
  </body>
</html>
